body{
    font-family: cursive;
    background: peachpuff;
}
.header_div{
    background: lightgoldenrodyellow;
    color: darkred; 
}
.header_div p{
    font-family: fantasy;
    color: darkred;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: darkslategray;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color:lightgoldenrodyellow;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(169, 232, 203);    
}